@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: 0 !important;
}

html {
  // overflow-y: scroll;
  scroll-behavior: smooth;
}

html,
body {
  font-size: 15px;
  font-family: 'Montserrat', Helvetica Neue, sans-serif !important;
}

body {
  overflow-y: hidden;
}

/*****************************************************
                       TEXT
*****************************************************/

h1 {
  font: 3rem/3rem 'Bebas Neue', Helvetica Neue, sans-serif;
}

h2 {
  font: 2rem/2rem 'Bebas Neue', Helvetica Neue, sans-serif;
}

h3 {
  font: 1.5rem/1.5rem 'Bebas Neue', Helvetica Neue, sans-serif;
}

h4 {
  font: 600 1rem/1.2rem 'Montserrat', Helvetica Neue, sans-serif;
}

p {
  font: 400 1rem/1.2rem 'Montserrat', Helvetica Neue, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0 !important;
}

.font100 {
  font-weight: 100 !important;
}

.font200 {
  font-weight: 200 !important;
}

.font300 {
  font-weight: 300 !important;
}

.font400 {
  font-weight: 400 !important;
}

.font500 {
  font-weight: 500 !important;
}

.font600 {
  font-weight: 600 !important;
}

.font700 {
  font-weight: 700 !important;
}

.font800 {
  font-weight: 800 !important;
}

.txtCenter {
  text-align: center !important;
  justify-content: center !important;
}

.txtEnd {
  text-align: right !important;
  justify-content: flex-end !important;
}

.txtStart {
  text-align: start;
}

.txtAlert {
  color: map-get($appColours, 'alert');
}

.txtSuccess {
  color: map-get($appColours, 'success');
}

.fontSizeXS {
  font-size: 0.6rem !important;
}

.fontSizeS {
  font-size: 0.85rem !important;
}

.fontSizeSM {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.fontSizeM {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.fontSizeL {
  font-size: 2rem !important;
  line-height: 2.5rem !important;
}

.fontSizeXL {
  font-size: 2.5rem !important;
  line-height: 3rem !important;
}

.fontSizeXXL {
  font-size: 3.5rem !important;
  line-height: 4rem !important;
}

.fontSize2XL {
  font-size: 4rem !important;
  line-height: 5rem !important;
}

.fontSize4XL {
  font-size: 8rem !important;
  line-height: 9rem !important;
}

.fontSize6XL {
  font-size: 10rem !important;
  line-height: 11rem !important;
}

.fontSize8XL {
  font-size: 16rem !important;
  line-height: 17rem !important;
}

.txtWhite {
  color: map-get($appColours, 'white') !important;
}

/*****************************************************
                     TEXT END
*****************************************************/

/*****************************************************
                       ICONS
*****************************************************/

.icon-2x {
  transform: scale(2);
}

.icon-3x {
  transform: scale(3);
}

.icon-4x {
  transform: scale(4);
}

.icon-line-height-1 {
  line-height: 1rem;
}

.link-item {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

/*****************************************************
                     ICONS END
*****************************************************/

/*****************************************************
                      MARGINS
*****************************************************/

/*ALL*/

.margin0 {
  margin: 0 !important;
}

.margin0auto {
  margin: 0 auto !important;
}

.margin5 {
  margin: 5px !important;
}

.margin10 {
  margin: 10px !important;
}

.margin15 {
  margin: 15px !important;
}

.margin20 {
  margin: 20px !important;
}

.margin30 {
  margin: 30px !important;
}

.margin40 {
  margin: 40px !important;
}

.margin50 {
  margin: 50px !important;
}

/*TOP*/

.margin-t-0 {
  margin-top: 0 !important;
}

.margin-t-5 {
  margin-top: 5px !important;
}

.margin-t-10 {
  margin-top: 10px !important;
}

.margin-t-15 {
  margin-top: 15px !important;
}

.margin-t-20 {
  margin-top: 20px !important;
}

.margin-t-30 {
  margin-top: 30px !important;
}

.margin-t-40 {
  margin-top: 40px !important;
}

.margin-t-50 {
  margin-top: 50px !important;
}

.margin-t-60 {
  margin-top: 60px !important;
}

/*TOP BOTTOM*/

.margin-tb-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.margin-tb-3 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.margin-tb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.margin-tb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margin-tb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.margin-tb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margin-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-tb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-tb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-b-5 {
  margin-bottom: 5px !important;
}

.margin-b-10 {
  margin-bottom: 10px !important;
}

.margin-b-15 {
  margin-bottom: 15px !important;
}

.margin-b-20 {
  margin-bottom: 20px !important;
}

.margin-b-30 {
  margin-bottom: 30px !important;
}

.margin-b-40 {
  margin-bottom: 40px !important;
}

.margin-b-50 {
  margin-bottom: 50px !important;
}

.margin-b-55 {
  margin-bottom: 55px !important;
}

/*LEFT RIGHT*/
.margin-lr-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.margin-lr-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.margin-lr-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.margin-lr-24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.margin-lr-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.margin-lr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.margin-lr-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.margin-lr-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.margin-lr-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.margin-l-5 {
  margin-left: 5px !important;
}

.margin-l-10 {
  margin-left: 10px !important;
}

.margin-l-15 {
  margin-left: 15px !important;
}

.margin-l-20 {
  margin-left: 20px !important;
}

.margin-l-24 {
  margin-left: 24px !important;
}

.margin-l-60 {
  margin-left: 60px !important;
}

.margin-r-5 {
  margin-right: 5px !important;
}

.margin-r-10 {
  margin-right: 10px !important;
}

.margin-r-15 {
  margin-right: 15px !important;
}

.margin-r-20 {
  margin-right: 20px !important;
}

.marginCenter {
  margin: 0 auto !important;
}

/*****************************************************
                    MARGINS END
*****************************************************/

/*****************************************************
                    PADDING
*****************************************************/

/*ALL*/

.padding0 {
  padding: 0 !important;
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
  .mat-button-wrapper {
    padding: 0 !important;
  }
}

.padding2 {
  padding: 2px !important;
}

.padding5 {
  padding: 5px !important;
}

.padding10 {
  padding: 10px !important;
}

.padding15 {
  padding: 15px !important;
}

.padding20 {
  padding: 20px !important;
}

.padding30 {
  padding: 30px !important;
}

.padding40 {
  padding: 40px !important;
}

.padding50 {
  padding: 50px !important;
}

/*TOP BOTTOM*/
.padding-tb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.padding-tb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-tb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.padding-tb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.padding-tb-25 {
  padding: 25px 0 !important;
}

.padding-tb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.padding-tb-40 {
  padding: 40px 0 !important;
}

.padding-tb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

/*TOP*/
.padding-t-5 {
  padding-top: 5px !important;
}

.padding-t-10 {
  padding-top: 10px !important;
}

.padding-t-20 {
  padding-top: 20px !important;
}

.padding-t-30 {
  padding-top: 30px !important;
}

.padding-t-40 {
  padding-top: 40px !important;
}

.padding-t-50 {
  padding-top: 50px !important;
}

/*BOTTOM*/
.padding-b-5 {
  padding-bottom: 5px !important;
}

.padding-b-10 {
  padding-bottom: 10px !important;
}

.padding-b-15 {
  padding-bottom: 15px !important;
}

.padding-b-20 {
  padding-bottom: 20px !important;
}

.padding-b-30 {
  padding-bottom: 30px !important;
}

.padding-b-40 {
  padding-bottom: 40px !important;
}

.padding-b-50 {
  padding-bottom: 50px !important;
}

.padding-b-60 {
  padding-bottom: 60px !important;
}

/*LEFT RIGHT*/
.padding-lr-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding-lr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-lr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.padding-lr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.padding-lr-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.padding-lr-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.padding-lr-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

/*** PADDING LEFT ***/

.padding-l-0 {
  padding-left: 0 !important;
}

.padding-l-5 {
  padding-left: 5px !important;
}

.padding-l-10 {
  padding-left: 10px !important;
}

.padding-l-15 {
  padding-left: 15px !important;
}

.padding-l-20 {
  padding-left: 20px !important;
}

.padding-l-25 {
  padding-left: 25px !important;
}

/*** PADDING RIGHT ***/

.padding-r-0 {
  padding-right: 0 !important;
}

.padding-r-5 {
  padding-right: 5px !important;
}

.padding-r-10 {
  padding-right: 10px !important;
}

.padding-r-15 {
  padding-right: 15px !important;
}

.padding-r-20 {
  padding-right: 20px !important;
}

/*****************************************************
                    PADDING END
*****************************************************/

/*****************************************************
                ABSOLUTE POSITIONING
*****************************************************/

.bottom-0 {
  bottom: 0;
}

.bottom-10 {
  bottom: 10px;
}

.bottom-20 {
  bottom: 20px;
}

.bottom-30 {
  bottom: 30px;
}

.bottom-40 {
  bottom: 40px;
}

.bottom-50 {
  bottom: 50px;
}

.bottom-80 {
  bottom: 80px;
}

/*****************************************************
              ABSOLUTE POSITIONING END
*****************************************************/

/*****************************************************
                      BORDERS
*****************************************************/

.border-1px {
  border: 1px solid map-get($appColours, 'grey') !important;
}

.border-fuchsia-1px {
  border: 1px solid map-get($appColours, 'fuchsia') !important;
}

.border-2px {
  border: 2px solid map-get($appColours, 'grey') !important;
}

.border-top-1px {
  border-top: 1px solid map-get($appColours, 'grey') !important;
}

.border-right-1px {
  border-right: 1px solid map-get($appColours, 'white') !important;
}

.border-right-white-1px {
  border-right: 1px solid map-get($appColours, 'white') !important;
}

.border-right-light-grey-1px {
  border-right: 1px solid map-get($appColours, 'lightGrey') !important;
}

.border-bottom-1px {
  border-bottom: 1px solid map-get($appColours, 'grey') !important;
}

.border-bottom-white-1px {
  border-bottom: 1px solid map-get($appColours, 'white') !important;
}

.border-left-1px {
  border-left: 1px solid map-get($appColours, 'grey') !important;
}

.border-top-2px {
  border-top: 2px solid map-get($appColours, 'grey') !important;
}

.border-right-2px {
  border-right: 2px solid map-get($appColours, 'grey') !important;
}

.border-bottom-2px {
  border-bottom: 2px solid map-get($appColours, 'grey') !important;
}

.border-bottom-2px-lightGrey {
  border-bottom: 2px solid map-get($appColours, 'lightGrey') !important;
}

.border-left-2px {
  border-left: 2px solid map-get($appColours, 'grey') !important;
}

.border-top-3px {
  border-top: 3px solid map-get($appColours, 'grey') !important;
}

.border-right-3px {
  border-right: 3px solid map-get($appColours, 'grey') !important;
}

.border-bottom-3px {
  border-bottom: 3px solid map-get($appColours, 'grey') !important;
}

.border-left-3px {
  border-left: 3px solid map-get($appColours, 'grey') !important;
}


.border-top-5px-fuchsia {
  border-top: 5px solid map-get($appColours, 'fuchsia') !important;
}

.border-top-5px-lavender {
  border-top: 5px solid map-get($appColours, 'lavender') !important;
}

.border-top-5px-jade {
  border-top: 5px solid map-get($appColours, 'jade') !important;
}

.border-top-5px-lime {
  border-top: 5px solid map-get($appColours, 'lime') !important;
}

.border-top-5px-navy {
  border-top: 5px solid map-get($appColours, 'navy') !important;
}


.border-bottom-5px-fuchsia {
  border-bottom: 5px solid map-get($appColours, 'fuchsia') !important;
}

.border-bottom-5px-lavender {
  border-bottom: 5px solid map-get($appColours, 'lavender') !important;
}

.border-bottom-5px-jade {
  border-bottom: 5px solid map-get($appColours, 'jade') !important;
}

.border-bottom-5px-lime {
  border-bottom: 5px solid map-get($appColours, 'lime') !important;
}

.border-bottom-5px-navy {
  border-bottom: 5px solid map-get($appColours, 'navy') !important;
}



.border-left-5px-fuchsia {
  border-left: 5px solid map-get($appColours, 'fuchsia') !important;
}

.border-left-5px-lavender {
  border-left: 5px solid map-get($appColours, 'lavender') !important;
}

.border-left-5px-jade {
  border-left: 5px solid map-get($appColours, 'jade') !important;
}

.border-left-5px-lime {
  border-left: 5px solid map-get($appColours, 'lime') !important;
}

.border-left-5px-navy {
  border-left: 5px solid map-get($appColours, 'navy') !important;
}




.border-right-5px-fuchsia {
  border-right: 5px solid map-get($appColours, 'fuchsia') !important;
}

.border-right-5px-lavender {
  border-right: 5px solid map-get($appColours, 'lavender') !important;
}

.border-right-5px-jade {
  border-right: 5px solid map-get($appColours, 'jade') !important;
}

.border-right-5px-lime {
  border-right: 5px solid map-get($appColours, 'lime') !important;
}

.border-right-5px-navy {
  border-right: 5px solid map-get($appColours, 'navy') !important;
}



.border-radius0 {
  border-radius: 0 !important;
}

.border-radius-5px {
  border-radius: 5px !important;
}

.border-radius-10px {
  border-radius: 10px !important;
}

.border-radius-15px {
  border-radius: 15px !important;
}

.border-radius-20px {
  border-radius: 20px !important;
}

.border-bottom-10px {
  border-bottom: 10px solid;
}

.border-radius-l-10 {
  border-radius: 10px 0 0 10px;
}

.border-radius-r-10 {
  border-radius: 0 10px 10px 0;
}

.border-radius-tl-10 {
  border-radius: 10px 0 0 0;
}

.border-radius-tr-10 {
  border-radius: 0 10px 0 0;
}

.border-radius-br-10 {
  border-radius: 0 0 10px 0;
}

.border-radius-bl-10 {
  border-radius: 0 0 0 10px;
}
/*****************************************************
                    BORDERS END
*****************************************************/

/*****************************************************
                      BACKGROUNDS
*****************************************************/

.bgWhite {
  background: map-get($appColours, 'white') !important;
}

.bgPrimary {
  background: map-get($appColours, 'primary') !important;
}

.bgGrey {
  background-color: map-get($appColours, 'grey') !important;
}

.bgAlert {
  background-color: map-get($appColours, 'alert') !important;
}

.bgAlertLight10 {
  background-color: lighten(map-get($appColours, 'alert'), 10%) !important;
}

.bgAlertLight15 {
  background-color: lighten(map-get($appColours, 'alert'), 15%) !important;
}

.bgAlertLight20 {
  background-color: lighten(map-get($appColours, 'alert'), 20%) !important;
}

.bgAlertLight30 {
  background-color: lighten(map-get($appColours, 'alert'), 30%) !important;
}

.bgLightGrey {
  background-color: map-get($appColours, 'lightGrey') !important;
}

.bgGreen {
  background-color: map-get($appColours, 'success') !important;
}

.bgNavy {
  background-color: map-get($appColours, 'navy') !important;
}

.bgJade {
  background-color: map-get($appColours, 'jade') !important;
}

.bgLavender {
  background-color: map-get($appColours, 'lavender') !important;
}

.bgFuchsia {
  background-color: map-get($appColours, 'fuchsia') !important;
}

/*****************************************************
                    BACKGROUNDS END
*****************************************************/

/*****************************************************
                        COLORS
*****************************************************/

.colorWhite {
  color: map-get($appColours, 'white') !important;
}

.colorPrimary {
  color: map-get($appColours, 'primary') !important;
}

.colorGrey {
  color: map-get($appColours, 'grey') !important;
}

.colorAlert {
  color: map-get($appColours, 'alert') !important;
}

.colorAlertLight10 {
  color: lighten(map-get($appColours, 'alert'), 10%) !important;
}

.colorAlertLight15 {
  color: lighten(map-get($appColours, 'alert'), 15%) !important;
}

.colorAlertLight20 {
  color: lighten(map-get($appColours, 'alert'), 20%) !important;
}

.colorAlertLight30 {
  color: lighten(map-get($appColours, 'alert'), 30%) !important;
}

.colorLightGrey {
  color: map-get($appColours, 'lightGrey') !important;
}

.colorGreen {
  color: map-get($appColours, 'success') !important;
}

.colorNavy {
  color: map-get($appColours, 'navy') !important;
}

.colorJade {
  color: map-get($appColours, 'jade') !important;
}

.colorLavender {
  color: map-get($appColours, 'lavender') !important;
}

.colorFuchsia {
  color: map-get($appColours, 'fuchsia') !important;
}

/*****************************************************
                       COLORS END
*****************************************************/

/*****************************************************
                       POSITION
*****************************************************/

.fixed-bottom-left {
  position: fixed !important;
  bottom: 20px;
  left: 20px;
}

.fixed-bottom-right {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.fixed-top-left {
  position: fixed !important;
  top: 20px;
  left: 20px;
}

.fixed-top-right {
  position: fixed !important;
  top: 20px;
  right: 20px;
}

.absolute-top-right {
  position: absolute !important;
  top: 0px;
  right: 0px;
}
/*****************************************************
                      POSITION END
*****************************************************/

/*****************************************************
                        OPACITY
*****************************************************/

.opacity0 {
  opacity: 0 !important;
}

.opacity20 {
  opacity: 0.2 !important;
}

.opacity40 {
  opacity: 0.4 !important;
}

.opacity60 {
  opacity: 0.6 !important;
}

.opacity80 {
  opacity: 0.8 !important;
}

.opacity100 {
  opacity: 1 !important;
}

/*****************************************************
                      OPACITY END
*****************************************************/

/*****************************************************
                      DIMENSIONS
*****************************************************/

.w10px {
  width: 10px !important;
}

.w20px {
  width: 20px !important;
}

.w30px {
  width: 30px !important;
}

.w40px {
  width: 40px !important;
}

.w50px {
  width: 50px !important;
}

.w60px {
  width: 60px !important;
}

.w70px {
  width: 70px !important;
}

.w80px {
  width: 80px !important;
}

.w90px {
  width: 90px !important;
}

.w100px {
  width: 100px !important;
}

.w110px {
  width: 110px !important;
}

.w120px {
  width: 120px !important;
}

.w130px {
  width: 130px !important;
}

.w140px {
  width: 140px !important;
}

.w150px {
  width: 150px !important;
}

.w200px {
  width: 200px !important;
}

.w250px {
  width: 250px !important;
}

.w300px {
  width: 300px !important;
}

.w400px {
  width: 400px !important;
}

.w500px {
  width: 500px !important;
}

.w30 {
  width: 30% !important;
}

.w40 {
  width: 40% !important;
}

.w50 {
  width: 50% !important;
}

.w60 {
  width: 60% !important;
}

.w70 {
  width: 70% !important;
}

.w80 {
  width: 80% !important;
}

.w90 {
  width: 90% !important;
}

.w100 {
  width: 100% !important;
}

.w100vw {
  width: 100vw !important;
}

.min-w-50px {
  min-width: 50px !important;
}

.h48px {
  height: 48px;
}

.h50px {
  height: 50px;
}

.h60px {
  height: 60px;
}

.h70px {
  height: 70px;
}

.h80px {
  height: 80px;
}

.h90px {
  height: 90px;
}

.h100px {
  height: 100px;
}

.h120px {
  height: 120px;
}

.h140px {
  height: 140px;
}

.h150px {
  height: 150px;
}

.h160px {
  height: 160px;
}

.h180px {
  height: 180px;
}

.h200px {
  height: 200px;
}

.h250px {
  height: 250px;
}

.h300px {
  height: 300px;
}

.h350px {
  height: 350px;
}

.h400px {
  height: 400px;
}

.h100 {
  height: 100% !important;
}

.h100vh {
  height: 100vh !important;
}

.span-w-50px {
  display: inline-block;
  width: 50px;
  overflow-wrap: break-word;
  word-break: break-all;
}

.span-w-100px {
  display: inline-block;
  width: 100px;
}

/*****************************************************
                   DIMENSIONS END
*****************************************************/

/*****************************************************
                       COLOURS
*****************************************************/

.colorPrimary {
  color: map-get($appColours, 'primary');
}

.colorSecondary {
  color: map-get($appColours, 'secondary');
}

.colorSuccess {
  color: map-get($appColours, 'success');
}

.colorAlert {
  color: map-get($appColours, 'alert');
}

.colorOrange {
  color: map-get($appColours, 'orange');
}

.colorWarning {
  color: map-get($appColours, 'warning');
}

.colorWhite {
  color: map-get($appColours, 'white');
}

.colorNavy {
  color: map-get($appColours, 'navy');
}

.colorJade {
  color: map-get($appColours, 'jade');
}

.colorLavender {
  color: map-get($appColours, 'lavender');
}

.colorFuchsia {
  color: map-get($appColours, 'fuchsia') !important;
}

.colorLime {
  color: map-get($appColours, 'lime') !important;
}

/*****************************************************
                     COLOURS END
*****************************************************/

.floatRight {
  float: right;
}

app-page-not-found {
  height: 100% !important;
}

.hidden {
  display: none !important;
}

.codeSnippet {
  color: map-get($appColours, 'white');
  background: map-get($appColours, 'darkGrey');
  padding: 10px;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  max-width: 95%;
  overflow-y: auto;
}

.btnBackFixed {
  position: absolute !important;
  bottom: 20px !important;
  left: 5px !important;
  @include respond-above(sm) {
    left: 70px !important;
  }
}

.blur5px {
  filter: blur(5px);
}

.blur10px {
  filter: blur(10px);
}

.contentContainer {
  max-width: 1140px;
}

.positionRelative {
  position: relative !important;
}

/*****************************************************
                     BOX SHADOW START
*****************************************************/

.box-shadow-light {
  box-shadow: 0 0 30px 8px map-get($appColours, 'grey');
}

/*****************************************************
                     BOX SHADOW END
*****************************************************/

/*****************************************************
                       TEXT
*****************************************************/

.animation-delay-0 {
  animation-delay: 0;
}

.animation-delay-1 {
  animation-delay: 1s;
}

.animation-delay-2 {
  animation-delay: 2s;
}

.animation-delay-3 {
  animation-delay: 3s;
}

.animation-delay-4 {
  animation-delay: 4s;
}

.animation-delay-5 {
  animation-delay: 5s;
}

/*****************************************************
                     TEXT END
*****************************************************/
