@import "variables";
@import "mixins";

.responsive-table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  caption {
    font: 2rem/2rem 'Bebas Neue', Helvetica Neue, sans-serif;
    color: map-get($appColours, 'white');
    margin: .5em 0 .75em;
  }
  tr {
    border: 1px solid #ddd;
    cursor: pointer;
  }
  tr:nth-child(even) {
    background-color: rgba(map-get($appColours, 'lightGrey'), 0.6);
    color: map-get($appColours, 'black');
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: map-get($appColours, 'primary');
      color: map-get($appColours, 'white');
    }
  }
  tr:nth-child(odd) {
    background-color: rgba(map-get($appColours, 'grey'), 0.6);
    color: map-get($appColours, 'white');
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: map-get($appColours, 'primary');
      color: map-get($appColours, 'white');
    }
  }
  th, td {
    text-align: center;
  }
  th {
    font-size: .85em;
    letter-spacing: .1em;
    padding: 20px 5px !important;
    text-transform: uppercase;
    background-color: map-get($appColours, 'black');
    color: map-get($appColours, 'white');
  }
  td {
    font-size: .8em;
    padding: 15px !important;
  }
  @include respond-below(sm) {
    border: 0;
    caption {
      font-size: 1.3em;
    }
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    td:last-child {
      border-bottom: 0;
    }
  }
}
