<div fxLayout="column" fxLayout.gt-sm fxFlex class="page-container txtWhite" *ngIf="booking">
  <div fxLayout="column" fxFlex fxLayoutAlign="center space-between" class="mat-grid-tile padding20">
    <div fxFlex="50px" fxLayoutAlign="space-between start">
      <h2>Reference</h2>
      <h2 [ngClass]="innerWidth < 500 ? 'fontSizeS' : ''">{{booking.reference}}</h2>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start">
      <h4>Make</h4>
      <h4>{{booking.vehicle?.make}}</h4>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start">
      <h4>Model</h4>
      <h4>{{booking.vehicle?.model}}</h4>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start">
      <h4>Customer</h4>
      <h4 [ngClass]="innerWidth > 500 ? 'fontSizeS' : 'fontSizeXS'">
        {{booking.customer?.first_name}} {{booking.customer?.last_name}}</h4>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start">
      <h4>Email</h4>
      <h4 [ngClass]="innerWidth > 500 ? 'fontSizeS' : 'fontSizeXS'">
        {{booking.customer?.email | truncate: 30}}</h4>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start" class="border-bottom-2px-white">
      <h4>Phone</h4>
      <h4>{{booking.customer?.phone}}</h4>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start" class="margin-t-20">
      <h4>Start Date</h4>
      <h4>{{booking.start_date | date : 'dd/MM/yyyy'}}</h4>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start">
      <h4>Start Time</h4>
      <h4>{{booking.start_date | date : 'hh:mm'}}</h4>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start">
      <h4>End Date</h4>
      <h4>{{booking.end_date | date : 'dd/MM/yyyy'}}</h4>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start">
      <h4>End Time</h4>
      <h4>{{booking.end_date | date : 'hh:mm'}}</h4>
    </div>
    <div fxFlex="40px" fxLayoutAlign="space-between start" *ngIf="duration">
      <h4>Duration</h4>
      <h4>{{duration}} <span *ngIf="duration === 1">day</span> <span *ngIf="duration > 1">days</span></h4>
    </div>
    <div fxFlex="50px" fxLayoutAlign="space-between start">
      <h2>Total Price</h2>
      <h2>{{booking.price | currency : 'GBP'}}</h2>
    </div>
  </div>
  <div fxLayout="column" fxFlex fxLayoutAlign="center center">
    <img src="../../../../../assets/images/{{booking.vehicle?.picture}}.png" alt="Vehicle" class="w100">
  </div>
</div>
