<div fxLayout="column" fxFlex class="page-container" fxLayoutAlign="center center"
     [ngClass]="innerHeight > 450 ? 'page-container-long' : 'page-container-short'">
  <div fxLayout="column" fxFlex fxLayoutAlign="center center" id="home_content" *ngIf="innerWidth >= 400">
    <img src="assets/images/pete85/pete85_bulb.png" alt="Logo picture"
         class="logo_picture animated fadeInDown">
    <img src="assets/images/pete85/pete85_text_main.png" alt="Logo picture"
         class="logo_text animated fadeInUp animation-delay-1">
  </div>
  <div fxLayout="column" fxFlex fxLayoutAlign="center center" id="home_content_mobile" *ngIf="innerWidth < 400">
    <img src="assets/images/pete85/pete85_logo.png" alt="Logo full"
         class="logo_picture animated fadeInDown">
  </div>
</div>
