<div fxLayout="column" fxFlex class="page-container padding20">
  <table class="responsive-table">
    <caption>Statement Summary</caption>
    <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Email</th>
      <th scope="col">Vehicle</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let booking of bookings" (click)="goToBooking(booking._id)">
      <td data-label="Reference">{{booking?.reference}}</td>
      <td data-label="Email">{{booking?.email | truncate: 20}}</td>
      <td data-label="Vehicle">{{booking?.vehicle?.reg}}</td>
      <td data-label="Start Date">{{booking?.start_date | date}}</td>
      <td data-label="End Date">{{booking?.end_date | date}}</td>
      <td data-label="Price">{{booking?.price | currency : 'GBP'}}</td>
    </tr>
    </tbody>
  </table>

</div>
